<div class="container">
    <%= link_to "All history", histories_path %>

<h1>  <%= @history.event %>
</h1>
<h3>  <%= @history.start_date %> - <%= @history.end_date %>
</h3>
<%= link_to "Edit history", edit_history_path(@history) %>
<br>
<p>  <%= @history.description.html_safe %>
</p>
</div>
